{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Django Groups - Creating groups with the webframework django</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'groups/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'groups/narrow-jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link {% if active == 'index' %} active{% endif %}" 
              href="/groups">All Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'users' %} active{% endif %}" href="/groups/users">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active == 'members' %} active{% endif %}" href="/groups/members">Members</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
          </ul>
        </nav>
        <h3 class="text-muted">Django Groups</h3>
      </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>




      <footer class="footer">
            <p>&copy; igestdevelopment 2019</p>
          </footer>
    
    </div> <!-- /container -->
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

      </body>
    </html>