{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<h3>Create a Group</h3>
<p>Use this form to create a new group</p>
<form action="{% url 'create_group' %}" method="post">
  {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputEmail1">Group Name</label>
          <input type="text" name="name" class="form-control" placeholder="Enter Group Name">
        </div>
        <div class="form-group">
          <label for="exampleTextarea">Description</label>
          <textarea name="description" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Author</label>
          <input name="author" type="text" class="form-control" placeholder="Enter Group Author">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Status</label>
          <select class="form-control" name="status">
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endblock %}