{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Groups</h1>
  <p class="lead">Creating groups with the Django Web framework and python. 
    To create a new group click the button below.</p>
  <p style="display: inline-block;"><a class="btn btn-lg btn-danger" href="{% url 'create_group' %}" role="button">
    Create a New Group ( Manual )</a><br><br>
    <a class="btn btn-lg btn-success" href="{% url 'save_group' %}" role="button">
      Create a New Group ( Auto )</a></p>
</div>

<div class="card">
    <div class="card-header">
      Featured Groups
    </div>
    <div class="card-block">
        <table class="table">
            <thead>
              <tr>
                <th>Group Name</th>
                <th>Description</th>
                <th>Author</th>
              </tr>
            </thead>
            <tbody>
              {% for g in groups %}
              <tr>
                  <td><a href="{{ g.get_absolute_url }}">{{ g.name }}</a></td>
                  <td>{{ g.description }}</td>
                  <td>{{ g.author }}</td>
                </tr>
              {%  endfor %}
            </tbody>
          </table>
    </div>
  </div>

{% endblock %}