{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-3">Members</h1>
  <p class="lead">Add your users to groups to make them members of a group. 
    To add new member click the button below.</p>
  <p><a class="btn btn-lg btn-success" href="create_member" role="button">Add a new member</a></p>
</div>

<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-block">
        <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
{% endblock %}